datafactory/pipelines/TI/ETL_INGESTAO_CAP_SRO_VALIDACAO.json
{
    "name": "ETL_INGESTAO_CAP_SRO_VALIDACAO",
    "properties": {
        "activities": [
            {
                "name": "GET_FILES_NAME",
                "description": "Obtém o nome dos arquivos de parâmetros para realizar a cópia dos mesmo e utilizar no processo de Validação Quantitativa Automática.",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO_VALIDACAO",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "FileServerReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "LOOP VALIDATION TABLES",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GET_FILES_NAME",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GET_FILES_NAME').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "COPY_FILE_SERVER_TO_TRANSIENT",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filePath": {
                                            "value": "@concat('CAP_VALIDACAO/',item().name)",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filePath": "@concat('prev_validacao/',item().name)"
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "FILE_VALIDATOR",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO_VALIDACAO",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.00:01:00",
                    "sleep": 10
                }
            },
            {
                "name": "DO_NOTHING",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "LOOP VALIDATION TABLES",
                        "dependencyConditions": [
                            "Skipped"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 5
                }
            }
        ],
        "folder": {
            "name": "opin-lib-cap-ingestao-sro-dados/pipeline"
        },
        "annotations": [],
        "lastPublishTime": "2024-02-08T19:12:36Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}