datafactory/pipelines/TU/ETL_CAPITALIZACAO_INGESTAO_SRO_DELTA.json
{
    "name": "ETL_CAPITALIZACAO_INGESTAO_SRO_DELTA",
    "properties": {
        "activities": [
            {
                "name": "LOOP OPENHUB TABLES",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "LOOKUP_TABLES",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('LOOKUP_TABLES').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "SET LAST_REQUEST_ID",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "GET LAST REQUEST ID",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "last_request_id",
                                "value": {
                                    "value": "@string(activity('GET LAST REQUEST ID').output.runOutput)",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "GET LAST REQUEST ID",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/vs-opin-ingestao/opin-lib-cap-ingestao-sro-dados/batch/ingestion/last_request_id",
                                "baseParameters": {
                                    "delta_path": {
                                        "value": "@concat(\n    '/mnt/bronze/ingestao_dados/sro/',\n    item().base,\n    '/',\n    replace(item().table,'ZOHOPCP','ZDAOPCP')\n)",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "azu_bsdatabricks_linkedservice_sro",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "If LAST_REQUEST_ID is not Null",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "SET LAST_REQUEST_ID",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@not(equals(variables('last_request_id'), 'None'))",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "GET OPENHUB_FIRST",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 1,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SapOpenHubSource",
                                                "excludeLastRequest": false,
                                                "customRfcReadTableFunctionModule": ""
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "parallelCopies": 1,
                                            "dataIntegrationUnits": 2,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DATASET_OPENHUB_CAP_INGESTAO_SRO",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "table": {
                                                        "value": "@item().table",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "filePath": {
                                                        "value": "@concat('delta/',item().base, '/', item().table, '.csv')",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "GET OPENHUB",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 1,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SapOpenHubSource",
                                                "baseRequestId": {
                                                    "value": "@int(variables('last_request_id'))",
                                                    "type": "Expression"
                                                },
                                                "excludeLastRequest": false,
                                                "customRfcReadTableFunctionModule": ""
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "parallelCopies": 1,
                                            "dataIntegrationUnits": 2,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DATASET_OPENHUB_CAP_INGESTAO_SRO",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "table": {
                                                        "value": "@item().table",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "filePath": {
                                                        "value": "@concat('delta/',item().base, '/', item().table, '.csv')",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "INGESTION CAP SRO DELTA",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "LOOP OPENHUB TABLES",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/vs-opin-ingestao/opin-lib-cap-ingestao-sro-dados/batch/ingestion/openhub_delta"
                },
                "linkedServiceName": {
                    "referenceName": "azu_bsdatabricks_linkedservice_sro",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "DO_NOTHING",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "INGESTION CAP SRO DELTA",
                        "dependencyConditions": [
                            "Skipped"
                        ]
                    },
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 5
                }
            },
            {
                "name": "LOOKUP_TABLES",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "COPY_FILE_SERVER_TO_TRANSIENT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "tables_openhub/cap_tables_delta.csv"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "COPY_FILE_SERVER_TO_TRANSIENT",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:15:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "FileServerReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "cap_tables_delta.csv"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "tables_openhub/cap_tables_delta.csv"
                        }
                    }
                ]
            },
            {
                "name": "FILE_VALIDATOR",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "cap_tables_delta.csv"
                        }
                    },
                    "timeout": "0.00:01:00",
                    "sleep": 10
                }
            }
        ],
        "variables": {
            "last_request_id": {
                "type": "String"
            }
        },
        "folder": {
            "name": "opin-lib-cap-ingestao-sro-dados/pipeline"
        },
        "annotations": [],
        "lastPublishTime": "2024-03-08T14:27:07Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}