datafactory/pipelines/TH/ETL_CAPITALIZACAO_INGESTAO_SRO_FULL.json
{
    "name": "ETL_CAPITALIZACAO_INGESTAO_SRO_FULL",
    "properties": {
        "activities": [
            {
                "name": "LOOP OPENHUB TABLES",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "LOOKUP_TABLES",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('LOOKUP_TABLES').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "GET OPENHUB",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SapOpenHubSource",
                                    "excludeLastRequest": false,
                                    "customRfcReadTableFunctionModule": ""
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "parallelCopies": 16,
                                "dataIntegrationUnits": 32,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DATASET_OPENHUB_CAP_INGESTAO_SRO",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table": {
                                            "value": "@item().table",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filePath": {
                                            "value": "@concat('full/',item().base, '/', item().table, '.csv')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "INGESTION SRO FULL",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "LOOP OPENHUB TABLES",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/vs-opin-ingestao/opin-lib-cap-ingestao-sro-dados/batch/ingestion/openhub_full"
                },
                "linkedServiceName": {
                    "referenceName": "azu_bsdatabricksth_linkedservice_sro",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "COPY_FILE_SERVER_TO_TRANSIENT",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:15:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "FileServerReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "cap_tables_full.csv"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "tables_openhub/cap_tables_full.csv"
                        }
                    }
                ]
            },
            {
                "name": "FILE_VALIDATOR",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DATASET_FSERVER_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "cap_tables_full.csv"
                        }
                    },
                    "timeout": "0.00:01:00",
                    "sleep": 10
                }
            },
            {
                "name": "DO_NOTHING",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "FILE_VALIDATOR",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "INGESTION SRO FULL",
                        "dependencyConditions": [
                            "Skipped"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 5
                }
            },
            {
                "name": "LOOKUP_TABLES",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "COPY_FILE_SERVER_TO_TRANSIENT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DATASET_DLAKE_CAP_INGESTAO_SRO",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": "tables_openhub/cap_tables_full.csv"
                        }
                    },
                    "firstRowOnly": false
                }
            }
        ],
        "folder": {
            "name": "opin-lib-cap-ingestao-sro-dados/pipeline"
        },
        "annotations": [],
        "lastPublishTime": "2024-03-08T14:27:06Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}